@model Booze_pedia.Models.BoozeCategoryViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Booze-pedia</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Boozes" asp-action="Index" method="get">
    <p>
        <select asp-for="BoozeCategory" asp-items="Model.Category">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString">
        InStock: <input type="checkbox" asp-for="InStockSearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].PictureFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boozes[0].InStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Boozes)
        {
        <tr>
            <td>
                <img src="@("~/img/"+item.PictureName)" asp-append-version="true" width="150" height="150"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
