@model Booze_pedia.Models.BoozeCategoryViewModel

@{
    ViewData["Title"] = "Home";
}

<Section class="jumbotron jumbotron-fluid" style=" background: url(/img/banner.jpg) no-repeat; background-size: cover;">
    <header class="container">
        <h1 class="display-3 text-light">BoozePedia</h1>
    </header>
</Section>

<div class="card text-center">
    <div class="card-body">
        <header>
            <a class="btn btn-lg btn-primary" asp-action="Create">Create New</a>
        </header>

    </div>
    <div class="card-footer">
        <form asp-controller="Boozes" asp-action="Index" method="get">
            <p>
                <select asp-for="BoozeCategory" asp-items="Model.Category">
                    <option value="">All</option>
                </select>

                Title: <input type="text" asp-for="SearchString">
                In Stock: <input type="checkbox" asp-for="InStockSearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>

@foreach (var item in Model.Boozes)
{
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="@("~/img/"+item.PictureName)" asp-append-version="true" class="img-fluid" alt="Booze Banner" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Boozes[0].Name)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Name)</p>
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Boozes[0].Category)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Category)</p>
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Boozes[0].Quantity)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Quantity)</p>
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Boozes[0].Quantity)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Quantity)</p>
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Boozes[0].Price)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@item.Id">Add to Cart</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                </div>
            </div>
        </div>
    </div>
}

@*--Style--*@
<style>
    * {
        font-size: large;
    }
    .container h1 {
        text-align: center;
        font-weight: 600;
        text-shadow: 4px 4px 4px #000000;
    }
</style>